/vendor
.idea
.vagrant
Homestead.json
Homestead.yaml
_ide_helper.php
.phpstorm.meta.php
.DS_Store
.env.*
storage/logs
!.env.local

/docker
docker-compose.dev.yml
docker-compose.local.yml
docker-compose.yml
